html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

div {
    margin-bottom: 3px;
}



.MovieTitle {
    white-space: nowrap;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-left: 15px;
}

.Moviecontainer {
    width: 250px;
    height: 410px;
    display: inline-block;
    border: 2px solid darkgray;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 1s;
}

    .Moviecontainer:hover {
        border: 2px solid darkgreen;
        width: 260px;
    }


.MovieImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

    .MovieImg:hover {
        opacity: 0.8;
    }

.CategoryUL {
    margin-bottom: 0px;
}

textarea {
    resize: none;
}

.ReviewContainer {
    border: 2px solid Darkgray;
    padding-top: 4px;
    padding-left: 7px;
}

.UserNameForReview {
    display: inline;
}

.Rate {
    display: inline;
}

.ReviewBody {
    padding-left: 10px
}
